<?php
// module/Album/view/album/album/delete.phtml:

/** @var \Album\Entities\Album $album */
/** @var \Zend\Form\Form $form */

$title = 'Delete album';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($album->getTitle()); ?>' by
    '<?php echo $this->escapeHtml($album->getArtist()); ?>'?
</p>
<?php

$submitYes = $form->get('delete[yes]');
$submitYes->setAttribute('class', 'btn btn-primary');

$submitNo = $form->get('delete[no]');
$submitNo->setAttribute('class', 'btn btn-primary');

$form->setAttribute('action', $this->url('album', array('action' => 'delete', 'id' => $album->getId())));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('csrf'));
echo $this->formHidden($form->get('id'));
echo $this->formSubmit($submitYes);
echo $this->formSubmit($submitNo);
echo $this->form()->closeTag();
?>


